{% extends 'base.html.twig' %}

{% block title %}Edit AReservation{% endblock %}

{% block body %}
    <h1>Edit AReservation</h1>

    {{ include('a_reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    {{ include('a_reservation/_delete_form.html.twig') }}
{% endblock %}
