{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="hero"> 
            <div class="hero-title">
                <div class="hero-title-principale">
                    Trouver  le bien qui reprendre à votre projet de location Immobilière
                </div>
            </div>
            <div class="hero-search">
                <form action="" method="get">
                    <div class="hero-search-input margin-0">
                        <input class="form-control form-control-sm" type="text" name="ville" placeholder="ville" aria-label=".form-control-sm example">
                    </div>
                    <div class="hero-search-3">
                        <div class="hero-search-input second-search margin-1">
                            <input class="form-control form-control-sm" type="text" name="Type de propriete" placeholder="Type de propriete" aria-label=".form-control-sm example">
                        </div>
                        <div class="hero-search-input second-search margin-2">
                            <input class="form-control form-control-sm" type="text" name="Prix" placeholder="Prix" aria-label=".form-control-sm example">
                        </div>
                        <div class="hero-search-input second-search margin-3">
                            <input class="form-control form-control-sm" type="text" name="chambreaBains" placeholder="Chambrea & Bains" aria-label=".form-control-sm example">
                        </div>
                    </div>
                    <div class="d-grid gap-2 mx-auto hero-search-button">
                        <button class="btn " type="button"> Chercher</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
