{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
            <a class="nav-link p-2 p-lg-3" href="{{ path('client_index') }}">Client</a>
        </li>
        {#<li class="nav-item">
            <a class="nav-link p-2 p-lg-3" href="{{ path('app_reservation_index') }}">Reservations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2 p-lg-3" href="{{ path('app_annonce_index') }}">Annonces</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2 p-lg-3 active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-2 p-lg-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Link
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Se connecter </a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>#}
        <li>
            <div class="d-grid gap-2 mx-auto hero-search-button!" style="background-color:#dd7973;">
                <a class="btn " type="button" style="color: white;
                font-weight: bold; "> Se connecter</a>
            </div>
        </li>
    </ul>
</div>
</div>
</nav>
{% endblock %}

{% block body %}
<img src="../../assets/img/window-interior-decor.jpg" alt="" width="100%" style="position: absolute;top: -100px; z-index: -1;">
    <div class="container">
        <div class="hero!" style="
            display: flex;
            flex-direction: column;
            padding: var(--padding-primary);
            align-items: center;
            justify-content: center;
            font-family: var(--font-family-primary);
            width: auto;
            height: auto;
            background-color: transparent;
            "> 
            <div class="hero-title" style="width: 80%;">
                <div class="hero-title-principale" style="font-size: 48px; font-weight: bold;
                color: white; -webkit-text-stroke: 0.1px black;">
                    Trouver  le bien qui reprendre à votre projet de location Immobilière
                </div>
            </div>
            <div class="hero-search" style="background-color: white; padding: 20px; border-radius: 10px; width:80%; padding-top:30px; padding-bottom:30px;">
            {{ include('home/_form.html.twig') }}

            </div>
        </div>
    </div>
{% endblock %}
