<form method="post" action="{{ path('app_annonce_delete', {'id': a_annonce.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a_annonce.id) }}">
    <button class="btn btn-light" style="padding-left:15px;background-color: transparent;border: none;">Delete</button>
</form>
