{% extends 'base.html.twig' %}

{% block title %}Edit AAnnonce{% endblock %}

{% block body %}
    <h1>Edit AAnnonce</h1>

    {{ include('a_annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_annonce_index') }}">back to list</a>

    {{ include('a_annonce/_delete_form.html.twig') }}
{% endblock %}
