{% extends 'base.html.twig' %}

{% block title %}Edit AAnnonce{% endblock %}

{% block body %}
    <h1>Edit AAnnonce</h1>

    <div class='container-fluid' >
        <div 
            class="hero1" 
            style=' display: flex;
                    flex-direction: column;
                    padding: var(--padding-primary);
                    align-items: center;
                    justify-content: center;
                    font-family: var(--font-family-primary);
                    width:auto;
                    min-height:80vh;
                    '  >
            {{ include('a_annonce/_form.html.twig', {'button_label': 'Update'}) }}
            {# {{ include('a_annonce/_delete_form.html.twig') }} #}
        </div>
    </div>
{% endblock %}
