{% extends 'base.html.twig' %}

{% block title %}AAnnonce index{% endblock %}
{% block body %}
<div class='container-fluid' style='padding:none;background-color: white;'>
    <div class="Annonce-items-Secondaire">
        {% for a_annonce in a_annonces %}
            {% set images = []  %}
            {% for AImage in AImages %}
                {% if AImage.iannonce.id == a_annonce.id %}
                    {% set images= images|merge([AImage.image]) %}
                {% endif %}
            {% endfor %}

            {% set deleteUrl = path('app_annonce_delete', {'id': a_annonce.id}) %}
            {% set showUrl = path('app_annonce_show', {'id': a_annonce.id}) %}
            {% set editUrl = path('app_annonce_edit', {'id': a_annonce.id}) %}
            {% set csrf_token_id = csrf_token('delete' ~ a_annonce.id)  %}
            {{ include('a_annonce/_CardSecondaire.html.twig') }}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        {% if searchdata is not defined %} {% set nom_path = "app_annonce_index" %} {% endif %}
        {{ include('home/_pagination.html.twig') }}
    </div>
    {# <a href="{{ path('app_annonce_new') }}">Create new</a> #}
</div>
{% endblock %}
