{% extends 'base.html.twig' %}

{% block title %}AAnnonce index{% endblock %}

{% block body %}
<div class='container-fluid' style='padding:none;background-color: white;'>
    {{ include('a_annonce/_Card.html.twig') }}
    <a href="{{ path('app_annonce_new') }}">Create new</a>
</div>
{% endblock %}
