{% extends 'base.html.twig' %}

{% block title %}New AReservation{% endblock %}

{% block body %}
    <h1>Create new AReservation</h1>

    {{ include('client_reservation/_form.html.twig') }}

    <a href="{{ path('client_reservation_index') }}">back to list</a>
{% endblock %}
