:root{
    --color-primary:#ef5e4e;
    --color-dark:#b9b0ae;

    --distance-primary:50px;
    --padding-primary: var(--distance-primary);
    --margin-primary: var(--distance-primary);
    --border-radius-primary: calc(var(--distance-primary)/2);
    --padding-secondary: calc(var(--distance-primary)/2);
    --margin-secondary:calc(var(--distance-primary)/2);
    --border-radius-secondary:calc(var(--distance-primary)/4);
    --font-family-primary: 'Poppins', sans-serif;
    --font-weight-bold:900;
    --font-weight-normal:400;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body
{
    background-color: white;
}

/*
.hero1
{
    background-image: url(../img/backyard-water-contemporary-architecture-sky.jpg) }});
    margin: 0px;
    background-repeat: no-repeat;
    background-position :center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    padding: var(--padding-primary);
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-primary);
    width:auto;
    min-height:80vh;
}*/
.hero-title
{
    display:flex;
    flex-direction: column;
    padding: calc(var(--padding-primary)/2);
    align-items: center;
    justify-content: center;
}
.hero-title-principale
{
    font-size: 20px;
}
.hero-search
{
    border-radius: 0.5px solid black;
}
.hero-search-3
{
    display: flex;
    margin-bottom: calc(var(--margin-primary)/4);
}
.hero-search-button
{
    background-color: var(--color-primary);
    margin: calc(var(--margin-primary)/4);
}
.margin-0
{
    margin-bottom: calc(var(--margin-primary)/4);
}
.margin-1 ,.margin-2
{
    margin-right: calc(var(--margin-primary)/4);
}
.Annonce-items
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
a
{
    color: black;
    text-decoration: none;
}

.Annonce-item-image
{
    height: 250px;
    border-top-left-radius: calc(var(--border-radius-secondary)/2);
    border-top-right-radius: calc(var(--border-radius-secondary)/2);
}
.config
{
    padding: calc(var(--padding-secondary)/5);
    font-size: x-large;
    background-color: white;
    border: none;
}
.Annonce-wrapper
{
    width: 400px;
    border-radius: calc(var(--border-radius-secondary)/2);
    margin: calc(var(--margin-primary)/5);
    border: 1px solid #dbd5d5;
    box-shadow: 0 0 5px 0 rgb(41 85 115 / 21%);
}