:root{
    --color-primary:#ef5e4e;
    --color-dark:#b9b0ae;

    --distance-primary:50px;
    --padding-primary: var(--distance-primary);
    --margin-primary: var(--distance-primary);
    --border-radius-primary: calc(var(--distance-primary)/2);
    --padding-secondary: calc(var(--distance-primary)/2);
    --margin-secondary:calc(var(--distance-primary)/2);
    --border-radius-secondary:calc(var(--distance-primary)/4);
    --font-family-primary: 'Poppins', sans-serif;
    --font-weight-bold:900;
    --font-weight-normal:400;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body
{
    background-color: white;
}

/*
.hero1
{
    background-image: url(../img/backyard-water-contemporary-architecture-sky.jpg) }});
    margin: 0px;
    background-repeat: no-repeat;
    background-position :center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    padding: var(--padding-primary);
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-primary);
    width:auto;
    min-height:80vh;
}*/
.hero-title
{
    display:flex;
    flex-direction: column;
    padding: calc(var(--padding-primary)/2);
    align-items: center;
    justify-content: center;
}
.hero-title-principale
{
    font-size: 20px;
}
.hero-search
{
    border-radius: 0.5px solid black;
}
.hero-search-3
{
    display: flex;
    margin-bottom: calc(var(--margin-primary)/4);
}
.hero-search-button
{
    background-color: var(--color-primary);
    margin: calc(var(--margin-primary)/4);
}
.margin-0
{
    margin-bottom: calc(var(--margin-primary)/4);
}
.margin-1 ,.margin-2
{
    margin-right: calc(var(--margin-primary)/4);
}
.Annonce-items
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
a
{
    color: black;
    text-decoration: none;
}

.Annonce-item-image
{
    height: 250px;
    border-top-left-radius: calc(var(--border-radius-secondary)/2);
    border-top-right-radius: calc(var(--border-radius-secondary)/2);
}
.config
{
    padding: calc(var(--padding-secondary)/5);
    font-size: x-large;
    background-color: white;
    border: none;
}
.Annonce-wrapper
{
    width: 400px;
    border-radius: calc(var(--border-radius-secondary)/2);
    margin: calc(var(--margin-primary)/5);
    border: 1px solid #dbd5d5;
    box-shadow: 0 0 5px 0 rgb(41 85 115 / 21%);
}

.Annonce-items-Secondaire
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.Annonce-item-Secondaire
{
    width: 80%;
}
.Annonce-wrapper-Secondaire
{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: calc(var(--border-radius-secondary)/2);
    margin: calc(var(--margin-primary)/5);
    border: 1px solid #dbd5d5;
    box-shadow: 0 0 5px 0 rgb(41 85 115 / 21%);
}
.component-Secondaire
{
    width: 69%;
}


/* pagination */

.row-test {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row-test > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.mt-2-test {
    margin-top: 0.5rem !important;
}
.col {
    flex: 1 0 0%;
  }
  .pagination-test {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #dd7973/* var(--bs-link-color) */;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #dd7973;
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color:#dd7973 /* var(--bs-link-hover-color) */;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg:#dd7973 /* #0d6efd */;
    --bs-pagination-active-border-color: #dd7973 /* #0d6efd */;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  .justify-content-center-test {
    justify-content: center !important;
  }
  .page-item-test:not(:first-child) .page-link {
    margin-left: calc(var(--bs-border-width) * -1);
  }
  .page-item-test:first-child .page-link {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
  }
  .page-item-test:last-child .page-link {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
  }
  .page-link-test {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .page-link-test {
      transition: none;
    }
  }
  .page-link-test:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
  }
  .page-link-test:focus {
    z-index: 3;
    color: var(--bs-pagination-focus-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: var(--bs-pagination-focus-box-shadow);
  }
  .page-link-test.active-test, .active-test > .page-link-test {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
  }
  .page-link-test.disabled, .disabled > .page-link-test {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color);
  }
  
  .page-item-test:not(:first-child) .page-link-test {
    margin-left: calc(var(--bs-border-width) * -1);
  }
  .page-item-test:first-child .page-link-test {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
  }
  .page-item-test:last-child .page-link-test {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
  }

.Btn-box
{
  display: flex;
  justify-content: center;
}
#convertion_client_proprietaire
{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 20px;
}
#convertion_client_proprietaire:hover
{
  color: #dd7973;
}
#convertion_client_proprietaire:active
{
  color: #dd7973;
}
#convertion_proprietaire_client
{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 20px;
}

#convertion_proprietaire_client:hover
{
  color: #dd7973;
}
#convertion_proprietaire_client:active
{
  color: #dd7973;
}