{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <div style="display:flex; justify-content:center; width:100%;">
        <div class='container-fluid' style='padding:none;background-color: white;display:flex; justify-content:center; width:80%;'>
            <div class="hero-search" style="background-color: white; padding: 20px; border-radius: 10px; width:80%; padding-top:30px; padding-bottom:30px;">
                {{ include('client/_infoReservationForm.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
