{% extends 'base.html.twig' %}

{% block title %}Edit AClient{% endblock %}

{% block body %}

    {# {{ include('a_client_entity/_form.html.twig', {'button_label': 'Update'}) }} #}

    {# <a href="{{ path('app_a_client_entity_index') }}">back to list</a> #}

    {# {{ include('a_client_entity/_delete_form.html.twig') }} #}
{% endblock %}
